extends ../shared/template
block content
  h2 Find Love
  #map
  table.table.table-striped.table-hover.table-bordered
    thead
      tr
        th Name
        th Location
        th Photo
        th About Me
    body
      each user in users
        tr
          td: a.btn.btn-primary.outline-inward(href='/users/#{user._id}')= user.name
          td= user.location.name
          td#image.img.thumbnail(style='background-image:url("#{user.profilePic}")')
          td= user.aboutMe

block scripts
  script(src='/js/user/user.js')
