extends ../shared/template
block content
  h2.animated.fadeInDown Login
  .row
    .col-xs-4
    .col-xs-4
      form.animated.fadeInUp(role='form', method='post', action='/login')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', autofocus=true)
        .form-group
          label(for='password') Password
          input.form-control#password(type='password', name='password')
        button.btn.btn-success(type='submit') Submit
    .col-xs-4

block scripts

