extends ../shared/template
block content
  .row
    .col-xs-12
      h5 Message Inbox
  .row
    .col-xs-2
    .col-xs-8
      table.table.table-condensed.table-hover
        thead
          tr
            th
            th From
            th Date
            th Message
        tbody
          each message in messages
            tr
              td= sender.email
              td= moment(message.date).format('DD MMM, YYYY')
              td= message.message
        .col.xs-2

block scripts
