extends ../shared/template
block content
  .row
    .col-xs-12
      h1 Inbox
  .row
    .col-xs-2
    .col-xs-8
      table.table.table-condensed.table-hover
        thead
          tr
            th Read?
            th From
            th Sent
            th Subject
            th Message
        tbody
          each message in messages
            tr
              td
                span.glyphicon(class=(!message.isRead === true ? 'glyphicon-envelope' : 'glyphicon-ok'))
              td: a(href='/messages/#{message._id}')= message.from
              td=moment(message.sent).format('DD MMM, YYYY')
              td=message.subject
              td: a(href='/messages/#{message._id}')= message.body.slice(0, 10) + ' ...'

        .col-xs-2


block scripts
