extends ../shared/template
block content
  h2 My Messages
  .row
    .col-xs-2
    .col-xs-8
      table.table.table-hover.table-bordered
        thead
          tr
            th From
            th Date
            th Message
        tbody
          each msg in messages
            tr
              td= msg.sender.email
              td= msg.date.toDateString()
              td= msg.message
        .col-xs-2




block scripts
  script(src='/js/user/home.js')
