.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.grow-rotate(href='/') Trailer Love

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a.wobble-horizontal(href='/profile') Profile
          li: a.wobble-horizontal(href='/profile/edit') Edit Profile
          li: a.wobble-horizontal(href='/users'): i.fa.fa-heart &nbsp; Find Love
          li: a.wobble-horizontal(href='/gifts') Find Gifts
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger= user.email
        else
          li: a(href='/register') Register
          li: a(href='/login') Login

