.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.grow-rotate(href='/') Trailer Love

    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if user
          li: a.wobble-horizontal(href='/profile'): i.fa.fa-user &nbsp; My Profile
          li: a.wobble-horizontal(href='/messages'): i.fa.fa-envelope &nbsp; My Messages
          li: a.wobble-horizontal(href='/users'): i.fa.fa-heart &nbsp; Find Love
          li: a.wobble-horizontal(href='/gifts'): i.fa.fa-shopping-cart &nbsp; Send Gifts
          li
            form.navbar-form(method='post', action='/logout')
              .form-group
                input(type='hidden', name='_method', value='delete')
                button.btn.btn-danger= user.email || user.username
        else
          li: a(href='/register') Register
          li: a(href='/login') Login
          li: a(href='/auth/google'): i.fa.fa-google.fa-lg &nbsp; Google
          li: a(href='/auth/twitter'): i.fa.fa-twitter.fa-lg &nbsp; Twitter
          li: a(href='/auth/facebook'): i.fa.fa-facebook.fa-lg &nbsp; Facebook
