extends ../shared/template
block content
  h2.animated.flip My gifts
  each gift in gifts
    .giftContain.animated.zoomIn
      .gPhoto(style='background-image: url("#{gift.photo}"); background-size: cover; background-reapeat: no-repeat;')
        form(method='post', action='/cart')
          input(type='hidden', name='giftId', value=gift._id)
          button.myButton.grow-rotate(type='submit')= gift.name
      .gprice $#{gift.price.toFixed(2)}
