<<<<<<< HEAD
#image{background-color:#ffffff;background-size:contain;background-repeat:no-repeat;height:100px;width:140px}
=======
#gifts tbody tr>td:nth-child(2){background-size:contain;background-repeat:no-repeat;height:100px}
>>>>>>> master
