#image {
  background-color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 140px;
}

#gifts tbody tr > td:nth-child(2){
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
}

#map{
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 800px;
}
